html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right,#fdfcfb,#e2d1c3);
  background-image: linear-gradient(to right, rgb(253, 252, 251), rgb(226, 209, 195));
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: #fff;
}

h2{
  text-align: center;

}


.pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 10px 20px rgba(36,37,38,0.08);
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: Black;
  background-color: #ffffff;
  border-color: rgba(0,0,0,0.12);
  margin: 1rem auto;
  overflow:hidden;
}

.pagination div {
  padding: 1rem 2rem;
}
.pagination .active__page {
  background-color: rgba(0,0,0,0.06);
}
.home__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 50rem;
  margin: auto;
}

.user__photo {
  width: 15vh !important;
  height: 15vh;
}
.user__photo img {
  width: 100%;
  height: 100%;
}

.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  overflow-y: auto;
  padding: 2rem;
}

.user__card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-radius: 4px;
  padding: 2rem;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 10px 20px rgba(36,37,38,0.08);
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: Black;
  background-color: #ffffff;
  border-color: rgba(0,0,0,0.12);
  margin: 1rem auto;
  justify-content: space-around;
  -webkit-animation:enter .5s;
  -moz-animation: enter .5s;
  -o-animation:enter .5s;
  animation:enter .5s;
}

.user__info{
  width: 70%;
  padding: 0 2rem;
}
.user__info h3{
  margin: 0;
}

.loading__list {
  margin: 30vh auto;
}

header {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: .8rem;
  margin: auto;
  text-transform: uppercase;
  color:white;
  font-weight: bold;

}

@-webkit-keyframes enter {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes enter {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes enter {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes enter {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
